*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  height:50px;
  background-color:#FF9A4B;
}

main{
  width:960px;
  margin:50px auto;
  display:flex;
}

.step-box{
  width:300px;
  margin-right:30px;
  padding:10px;
  background-color:#EEEEEE;
  position:relative;
}

.step-box:last-child{
  margin-right:0;
}

.step-num{
  position:absolute;
  top:0;
  left:0;
  background-color:#FF9A4B;
  color:white;
}

.title{
  margin:15px 0 5px
}


.step-img1{
  height:150px;
  background-image:url(img9/flow01.png);
  background-size:cover;
  background-position:bottom;
}

.step-img2{
  height:150px;
  background-image:url(img9/flow02.png);
  background-size:cover;
  background-position:bottom;
}

.step-img3{
  height:150px;
  background-image:url(img9/flow03.png);
  background-size:cover;
  background-position:bottom;
}

footer{
  height:50px;
  background-color:#AAAAAA;
}

@media screen and (max-width:768px){

  main{
    display:block;
    width:100%;
    margin:50px 5% 50px;
  }
  
  .step-box{
    width:90%;
    margin-right:0;
    margin-bottom:20px;
  }
  
  .step-box:last-child{
    margin-bottom:0;
  }
  
}