*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  height:50px;
  background-color:#FF9A4B;
}

main{
  width:960px;
  margin:50px auto;
  display:flex;
}

.content{
  width:300px;
  margin-right:30px;
  padding:10px;
  background-color:#EEEEEE;
  position:relative;
}

.content:last-child{
  margin-right:0;
}

.content-num{
  position:absolute;
  top:0;
  left:0;
  background-color:#FF9A4B;
  color:white;
}

.title{
  margin:15px 0 5px
}


.content-img1{
  height:150px;
  background-image:url(img9/flow01.png);
  background-size:cover;
  background-position:bottom;
}

.content-img2{
  height:150px;
  background-image:url(img9/flow02.png);
  background-size:cover;
  background-position:bottom;
}

.content-img3{
  height:150px;
  background-image:url(img9/flow03.png);
  background-size:cover;
  background-position:bottom;
}

footer{
  height:50px;
  background-color:#AAAAAA;
}